* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.one {
  /* filter: drop-shadow(0 0 3px #000);*/
  -webkit-filter: drop-shadow(0 0 10px #000);
  margin: 20px;
}

.two {
  filter: drop-shadow(0 0 3px red);
  -webkit-filter: grayscale(100%);
}

.three {
  /* -webkit-filter: blur(1px); */
  /* -webkit-filter: brightness(90%); */
  -webkit-filter: hue-rotate(90deg);
}
